<?xml version="1.0" encoding="utf-8"?>
<manifest package="zzbcar.cckj.com.nzzb"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sat8VbLTefHetbQNEw8vyhCIWkGjbfLa">
        </meta-data>

        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 三方集成 -->
        <!-- 新浪 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- QQ -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 微信登陆 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!-- 友盟appk -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf">
        </meta-data>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".view.activity.SplshActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".view.activity.GuideActivity"/>
        <activity android:name=".view.activity.TestActivity"/>
        <activity android:name=".view.activity.LunboActivity">
        </activity>
        <activity android:name=".view.activity.itemactivity.MyCarActivity"/>
        <activity android:name=".view.activity.itemactivity.CommonAddressActivity"/>
        <activity android:name=".view.activity.itemactivity.AccountBindActivity"/>
        <activity android:name=".view.activity.itemactivity.BreakRuleActivity"/>
        <activity android:name=".view.activity.itemactivity.InviteFriendsActivity"/>
        <activity android:name=".view.activity.itemactivity.HelpCenterActivity"/>
        <activity android:name=".view.activity.itemactivity.AboutUsActivity"/>
        <activity
            android:name=".view.activity.itemactivity.CarIdentifiActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.itemactivity.CarLicenceActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.itemactivity.IdentiCompleteActivity"/>
        <activity android:name=".view.activity.itemactivity.CarFriendIdentifiActivity"/>
        <activity android:name=".view.activity.itemactivity.SelecTimeActivity"/>
        <activity android:name=".view.activity.LoginActivity"/>
        <activity android:name=".view.activity.itemactivity.PreCarFriendIdentifiActivity"/>
        <activity android:name=".view.activity.itemactivity.SetAddressActivity"/>
        <activity android:name=".view.activity.RentActivity"/>
        <activity android:name=".view.activity.itemactivity.PayActivity"/>
        <activity android:name=".view.activity.itemactivity.MarriedActivity"/>
        <activity android:name=".view.activity.itemactivity.CarListActivity"/>
        <activity android:name=".view.activity.itemactivity.CarDetailActivity"/>
        <activity android:name=".view.activity.itemactivity.OrderConfirmActivity">
        </activity>
        <activity android:name=".view.activity.itemactivity.LocationListActivity"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity android:name=".view.activity.itemactivity.BrandCarActivity">
        </activity>
        <activity android:name=".view.activity.itemactivity.SearchActivity">
        </activity>
    </application>

</manifest>
